:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --light-green: #bee491;
  --black: black;
  --blue: #57cbff;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --indent: 300px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--navy);
}

/*----------------------------------------HEADER / NAVIGATION -----------------------*/
.header {
  justify-content: space-between;
  display: flex;
}
.header img {
  width: 120px;
  height: 120px;
  margin: 0;
}
.nav-menu ol {
  text-decoration: none;
  color: rgb(160, 230, 244);
  display: flex;
  margin: 20px 30px;
  animation: navSlide 2.0s ease;
}
.nav-menu ol li {
  font-size: 13px;
  font-weight: 700;
  padding: 5px 10px;
  margin: 5px 15px;
  color: var(--lightest-slate);
  font-family: var(--font-sans);
  list-style: none;
}
.nav-menu a {
  color: var(--light-green);
  text-decoration: none;
}
.nav-menu a:hover {
  color: var(--white);
}
.nav-menu ol li::after { /*this selector adds the green line under the links ready for transition*/
    content: '';/*this makes the line 0 wide until we add transition*/
    width: 0%;
    height: 1.5px;
    background: var(--light-green);
    display: block;
    margin: auto;
    transition: 0.7s;
  }
  .nav-menu ol li:hover::after { /*makes the green line transition below links*/
    width: 100%;
  }

  /* Need to add the extra works to hamburger menu*/
  @media (min-width:600px){
    #burger {
        display: none;
    }
  }
  
section {
  padding: 100px var(--indent) ;
}

/*--------------KEYFRAMES FOR SLIDING HEADER TEXT INTO SCREEN-------------*/

@keyframes slideIn {
  0% {
    transform: translateX(-290%);
  }
}
@keyframes navSlide {
  0% {
    transform: translateX(+150%);
  }
}

/*-----------------------------------TEXT SECTION -------------------------------------*/

.main-text p {
  color: var(--light-green);
  font-family: var(--font-sans);
  animation: slideIn 1.2s ease
}
.main-text h1 {
  color: var(--lightest-slate);
  font-size: 70px;
  font-family: var(--font-sans);
  animation: slideIn 2.2s ease
  
}
.main-text h2 {
  color: var(--slate);
  font-size: 50px;
  font-family: var(--font-sans);
  animation: slideIn 2.6s ease
}
section p {
    font-family: var(--font-sans);
    color: var(--light-slate);
    animation: slideIn 3.2s ease;
    padding-top: 30px;
    font-size: 25px;
  }
 
.see-work {
  width: max-content;
  border: 1px solid var(--light-green);
  border-radius: 3px;
  padding: 10px;
  margin-left: var(--indent);
  animation: slideIn 3.1s ease
}
.see-work a {
   text-decoration: none;
   color: var(--light-slate);
   font-family: var(--font-sans);
   font-size: 16px;
}
.see-work a p:hover{
    color: var(--light-green);
 }

@media (max-width: 900px) {
  .main-text p {
    font-size: 20px;
  }
  .main-text h1 {
    font-size: 38px;
  }
  .main-text h2 {
    font-size: 30px;
  }
  section {
    padding: 50px;
}
section .sub-text {
    font-size: 20px;
    font-family: var(--font-sans);
    color: var(--slate);
  }
  .see-work {
    margin-left: 50px;
  }
}
/*------------------------------------ SOCIALS------------------------------*/






